.exercise-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  max-height: 100%;
}

.image {
  position: absolute;
  width: 50%;
  height: 100%;
}

#real-pos {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transition: left 0.1s ease-out, top 0.1s ease-out
}

#noisy-pos {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transition: left 0.1s ease-out, top 0.1s ease-out
}

#user-pos {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transition: left 0.1s ease-out, top 0.1s ease-out
}

.beacon {
  position: absolute;
  border: 2px solid black;
  cursor: pointer;
  z-index: 5;
}

.beacon-vert {
  width: 0px;
  height: 20px;
  translate: 0 -10px;
}

.beacon-hor {
  width: 20px;
  height: 0px;
  translate: -10px;
}